@model MaerskLine.ViewModel.CustomerOrderViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>

<h2>@Model.Orders.orderType</h2>

@if(Model.Customers.Count == 0)
{
    <text>No orders</text>
}
else
{
    <ul>
        @foreach(var customer in Model.Customers)
        {
            <li>
                @customer.custName
            </li>
        }
    </ul>
}

